html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*, sans-serif;*/

/*
STYLE GUIDE
LOGO h2 / 38px / Raleway / 700 / dark blue
HEADINGS h1 / 68px / Raleway / 700 / dark grey
HEADINGS h2 / 39px / Raleway / 700 / dark grey
HEADINGS h3 / 22px / Raleway / text transform / medium grey
PARAGRAPHS footer p / 20px / Raleway / 500 / medium grey
PARAGRAPHS copyright p / 20px / Raleway / 500 / medium grey
LINKS a / 19px / Raleway / 700 / dark grey
BUTTONS a / 19px / Raleway / 700 / dark grey
COLOURS
Dark Blue #005769
Light Blue #16D6D1
Dark Grey #333333
Medium Grey #777777
Light Grey #F6F8FA
*/

/*********Section 0: Utilities*******/
body {
	font-size: 62.5%;
}

.cb {
	clear:both;
}


.fw-700 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.fw-500 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}


/*******Section 1: Header*******/

header {
	background: url('./assets/image-main.jpeg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	margin-bottom: 7%;
}

.LOGO {
	font-size: 3.9em;
	color: #005769;
	margin-bottom: 5%;
}

nav {
	margin-top: 7%;
	width: 50%;
	text-align: right;
}

nav a {
	font-size: 1.9em;
	color: #333333;
	text-decoration: none;
	padding: 2%;
}

nav a:not(:last-child){
	margin-right: 2%;
}
	
nav a:hover {
	background: #16D6D1;
	border-radius: 5px;
}

h1 {
	font-size: 6.8em;
	width: 60%;
	color: #333333;
	clear: both;
}

img {
	width: 100%;
}

/*******Section 2: Gallery*******/

.gallery {
	margin-bottom: 2%;

}

 .small-pic.fl-left{
	margin-right: 2%;
}

.big-pic .fl-left {
	margin-right: 2%;
}

.small-pic {
width: 39%;

}

.big-pic {
	width: 59%;
}

.gallery h3 {
	margin-top: 0;
	padding-top: 5%;
	font-size: 2.2em;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #777777;
	text-align: center;
	padding-bottom: 10%;
}

.gallery h2 {
	font-size: 3.9em;
	color: #333333;
	text-align: center;
	padding: 0 10% 5%;
}

.gallery button {
	display: block;
	margin: 0 auto;
	background: #16D6D1;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.gallery button a {
	font-size: 1.9em;
	text-decoration: none;
	color: #333;

}

.bottom {
	background: #F6F8FA; 
	padding-bottom: 16.5%;
}

.half {
	width: 49%;
}

.half.fl-left {
		margin-right: 2%;
}

.gallery:nth-child(3) {
	margin-bottom: 7%;
}

/*******Section 3: Footer*******/

footer {
	background: #F6F8FA;
	width: 100%;
	height: calc(40vh - 10%);
	font-size: 1.9em;	
}

footer a {
		text-decoration: none;
		color: #333333;
		padding-bottom: 2%;
		padding: 0 5%;
		text-align: center;
		line-height: 2em;
		font-size: 1em
}

.footer-title {
	margin-top: 1%;
	width: 35%;
	color: #005769;
	font-size: 2em;
}

.footer-nav {
	margin-top: 4%;
	width: 10%;
	text-align: center;
	margin-right: 4%;
}

.footer-social {
	margin-top: 4%;
	width: 8%;
	text-align: center;
	margin-right: 8%;
}

.footer-lorem {
	margin-top: 2%;
	width: 35%;
}

.footer-top {
	padding-bottom: 4%;
	border-bottom: 1px dotted black;
	background: ;

}

.copyright {
	color: #777777;
}